@import url(/4_02/CSS/header.css);/*CSS내에 또 다른 CSS파일을 가져와 적용*/
@import url(/4_02/CSS/body.css);
@import url(/4_02/CSS/footer.css);

* {
    margin: 0;
    padding: 0;
    height: 2000px;
    text-align: center;
}













